---
layout: default

title: roliboy's homepage
description: yeet
favicon: /assets/images/favicon.png
keywords: Acel keyword, inca unu
---

<header class="header" role="banner">
    <div id="canvas"></div>
    <div class="row">
        <nav class="nav" role="navigation">
            <ul class="nav-items">
                <li class="nav-item">
                    <a href="#projects" class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                    <a href="#writeups" class="nav-link">Writeups</a>
                </li>
                <li class="nav-item">
                    <a href="#about" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="#contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="header-text-box row">
        <div class="header-text">
            <h1 class="heading-primary">
                <span>roliboy</span>
            </h1>
            <p>1337 h4x0r, ctf player and certified brainlet</p>
        </div>
    </div>
</header>

<main role="main">
    <section class="projects" id="projects">
        <row>
            <h2>Projects</h2>
            <div class="project-boxes">
                {% for project in site.projects %}
                <div class="project-box">
                    <div class="project-text">
                        <h3>{{ project.name }}</h3>
                        <p>{{ project.summary }}</p>
                        <ul class="project-list">
                            {% for feature in project.features %}
                            <li>{{ feature }}</li>
                            {% endfor %}
                        </ul>
                        <div class="project-links">
                            <a href="{{ project.url }}" class="link-text">
                                Read more <span>&rarr;</span>
                            </a>
                            <a href="{{ project.repository }}" target="_blank" title="View Source Code">
                                <img src="assets/images/github.svg" class="project-github" alt="github" />
                            </a>
                        </div>
                    </div>
                    <div class="project-images" id="slides-{{ project.name }}">
                        {% for image in project.images %}
                        <div class="project-image fade">
                            <img src="{{ image.url }}">
                            {% if image.text %}
                            <div class="project-image-text">{{ image.text }}</div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <a class="prev" onclick="slidePrev('slides-{{ project.name }}')">&#10094;</a>
                        <a class="next" onclick="slideNext('slides-{{ project.name }}')">&#10095;</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </row>
    </section>
    <section class="writeups" id="writeups">
        <row>
            <h2>Writeups</h2>
            <div class="writeup-boxes">
                {% for writeup in site.writeups %}
                <div class="writeup-box">
                    <div class="writeup-text">
                        <h3>{{ writeup.title }}</h3>
                        <p>{{ writeup.summary }}</p>
                        <ul class="writeup-list">
                            {% for property in writeup.properties %}
                            <li>{{ property }}</li>
                            {% endfor %}
                        </ul>
                        <div class="writeup-links">
                            <a href="{{ writeup.url }}" class="link-text">
                                Read writeup <span>&rarr;</span>
                            </a>
                            <a href="{{ writeup.website }}"
                                target="_blank" class="link-text writeup-site">
                                Go to challenge website <span>&rarr;</span>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </row>
    </section>
    <section class="about" id="about">
        <div class="row">
            <h2>About Me</h2>
            <h3>[WIP]</h3>
            <!-- <div class="about-content">
                    <div class="about-text">
                        <p>big brain hacker</p>
                        <a href="#" class="btn">My Resume</a>
                    </div>
                    <div class="about-photo-container">
                        <img src="images/profile.png" />
                    </div>
                </div> -->
        </div>
    </section>
    <section class="contact" id="contact">
        <div class="row">
            <h2>Get in Touch</h2>
            <h3>[WIP]</h3>
            <!-- <div class="contact-info">
                    <p>
                        paragraph that will convince you that i'm the best man for the job
                    </p>
                    <a href="mailto:roliboy@protonmail.com" class="btn">roliboy@protonmail.com</a>
                </div> -->
        </div>
    </section>
</main>
<footer role="contentinfo" class="footer">
    <div class="row">
        <ul class="footer-social-links">
            <!-- <li class="footer-social-link-item">
                        <a href="https://twitter.com/nisarhassan12/" title="Link to Twitter Profile">
                        <img src="images/twitter.svg" class="footer-social-image" alt="Twitter">
                        </a>
                        </li> -->
            <li class="footer-social-link-item">
                <a href="https://github.com/roliboy/" title="Link to Github Profile">
                    <img src="assets/images/github.svg" class="footer-social-image" alt="github">
                </a>
            </li>
            <!-- <li class="footer-social-link-item">
                            <a href="https://codepen.io/nisar_hassan" title="Link to Codepen Profile">
                            <img src="images/codepen.svg" class="footer-social-image" alt="Codepen">
                            </a>
                            </li> -->
            <li class="footer-social-link-item">
                <a href="https://www.linkedin.com/in/nagy-roland-713874206/">
                    <img src="assets/images/linkedin.svg" title="Link to Linkedin Profile" class="footer-social-image"
                        alt="linkedin">
                </a>
            </li>
        </ul>
        <p style="text-align:left;">
            &copy; 2021 roliboy
            <span style="float:right;">
                yeet
            </span>
        </p>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.min.js"></script>
<script src="assets/scripts/shapes.js"></script>