$fontSizeSmall: 1.8rem;
$fontSizeNormal: 2.2rem;
$fontSizeMedium: 3.2rem;
$fontSizeLarge: 5.5rem;
$fontSizeHuge: 7.5rem;
$fontStack: 'Hk Grotesk', sans-serif;

$lineHeightNormal: 1.7;
$lineHeightSmall: 1.2;

$black: rgb(40, 42, 54);
$pink: rgb(255, 121, 198);
$secondary: rgb(189, 147, 249);
$white: rgb(248, 248, 242);
$whiteTransparent: rgba(248, 248, 242, 0.85);

$containerMaxWidth: 1180px;
$containerNormalWidth: 800px;
$containerMediumWidth: 700px;
$containerSmallWidth: 500px;

$gutterHuge: 12rem;
$gutterMedium: 6rem;
$gutterNormal: 3rem;
$gutterSmall-1: 2.5rem;
$gutterSmall: 2rem;

$borderLight: 1px solid rgb(68, 71, 90);