/* --------------------------------------- */
/* ----- Basic Setup ----- */
/* --------------------------------------- */

@font-face {
    font-family: 'Hk Grotesk';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/HKGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/Jost-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --font-size-small: 1.8rem;
    --font-size-normal: 2.8rem;
    --font-size-medium: 3.6rem;
    --font-size-large: 5.5rem;
    --font-size-huge: 7.5rem;
    --font-stack: 'Hk Grotesk', sans-serif;

    --line-height-normal: 1.7;
    --line-height-small: 1.2;

    --black: rgb(40, 42, 54);
    --pink: rgb(255, 121, 198);
    --secondary: rgb(189, 147, 249);
    --white: rgb(248, 248, 242);
    --white-transparent: rgba(248, 248, 242, 0.85);

    --container-max-width: 1180px;
    --container-normal-width: 800px;
    --container-medium-width: 700px;
    --container-small-width: 500px;

    --gutter-huge: 12rem;
    --gutter-medium: 6rem;
    --gutter-normal: 3rem;
    --gutter-small: 2rem;

    --border-light: 1px solid rgb(68, 71, 90);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media(max-width: 1000px) {
    html {
        font-size: 52%;
    }
}

body {
    font-size: var(--font-size-small);
    font-family: var(--font-stack);
    font-weight: 400;
    color: var(--white-transparent);
    line-height: var(--line-height-normal);
    background: var(--black);
    overflow-x: hidden;
}

.row {
    max-width: var(--container-max-width);
    margin: 0 auto;
}

@media(max-width: 1340px) {
    .row {
        max-width: 1100px;
    }
}

@media(max-width: 1240px) {
    .row {
        padding: 0 var(--gutter-medium);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-normal);
    }
}

@media(max-width: 600px) {
    .row {
        padding: 0 var(--gutter-small);
    }
}

section {
    padding: var(--gutter-huge) 0;
    border-bottom: var(--border-light);
}

img {
    object-fit: contain;
    max-width: 100%;
}

/* --------------------------------------- */
/* ----- Headlines and Paragraphs ----- */
/* --------------------------------------- */

h1,
h2,
h3,
h4 {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    line-height: var(--line-height-small);
    color: var(--secondary);
}

.heading-primary {
    line-height: 1;
    font-size: var(--font-size-huge);
    font-weight: 400;
}

@media(max-width: 900px) {
    .heading-primary {
        font-size: 6.5rem;
    }
}

h2 {
    font-size: var(--font-size-large);
    margin-bottom: var(--gutter-medium);
}

h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 10rem;
    background: var(--pink);
    margin: var(--gutter-small) 0;
}

h3 {
    font-size: var(--font-size-medium);
    margin-bottom: var(--gutter-small);
}

@media(max-width: 500px) {
    .heading-primary {
        font-size: var(--font-size-large);
    }

    h2 {
        font-size: var(--font-size-medium);
    }

    h3 {
        font-size: var(--font-size-normal);
    }
}

p {
    margin: var(--gutter-small) 0;
}

@media(max-width: 900px) {
    p {
        max-width: var(--container-small-width);
    }
}

/* --------------------------------------- */
/* ----- Buttons and Links ----- */
/* --------------------------------------- */

a {
    color: var(--white);
    font-weight: 400;
    font-family: 'Jost', sans-serif;
    transition: all .2s;
    outline: 2px solid transparent;
}

.link:hover {
    color: var(--pink);
}

.btn {
    position: relative;
    display: inline-block;
    padding: 1rem 4.2rem;
    text-decoration: none;
    color: inherit;
    border: 1px solid  var(--pink);
    font-weight: 400;
}

.btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.btn:hover::after,
.btn:focus::after {
    right: 0;
    background: var(--pink);
}

.btn--pink {
    background: var(--pink);
    transition: all 0.2s;
}

.btn--pink::after {
    display: none;
}

.btn--pink:hover,
.btn--pink:focus {
    background: transparent;
}

.link-text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--pink);
}

.link-text::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    background: var(--white);
    height: 100%;
    z-index: -1;
    transition: all 0.2s cubic-bezier(1, 0.68, 0.16, 0.9);
}

.link-text:focus {
    outline: none;
}

.link-text:hover::after,
.link-text:focus:after {
    right: 0;
    background: var(--pink);
}

.link-text span {
    padding-left: 1rem;
    font-family: sans-serif;
}

/* --------------------------------------- */
/* ----- Header ----- */
/* --------------------------------------- */


.header {
    font-size: var(--font-size-normal);
    border-bottom: var(--border-light);
}

.header-text-box {
    padding-top: var(--gutter-medium);
    padding-bottom: var(--gutter-medium);
}

.header-text p {
    margin: 1.5rem 0 3.5rem;
    max-width: var(--container-medium-width);
    font-family: 'Jost', sans-serif;
    font-size: var(--font-size-normal);
}

@media(max-width: 500px) {
    .header {
        text-align: center;
    }

    .header-text p {
        transform: scale(.8);
    }
}


/* --------------------------------------- */
/* ----- Section ----- */
/* --------------------------------------- */

.section-box {
    display: flex;
    align-items: center;
}

@media(max-width: 900px) {
    .section-box {
        align-items: initial;
        flex-direction: column-reverse;
    }
}

.section-box:not(:last-child) {
    margin-bottom: var(--gutter-medium);
}

.section-code {
    margin-left: var(--gutter-normal);
}

.section-links {
    display: flex;
    align-items: center;
}

/* .section-text {
    margin-right: var(--gutter-huge);
} */

.section-list {
    list-style-position: inside;
    margin-bottom: var(--gutter-normal);
}

.section-sublist {
    list-style-position: inside;
    list-style: none;
    padding-left: var(--gutter-normal);
    margin-bottom: var(--gutter-normal);
}
  
.section-sublist > li {
    padding-left: 1em;
    text-indent: -1em;
}

.section-sublist > li:before {
    content: ">";
    padding-right: 5px;
}

.section-images {
    margin-bottom: var(--gutter-normal);
    position: relative;
    margin: auto;
}

.section-images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-image {
    display: none
}

@media(min-width: 901px) {
    .section-images {
        flex: 1;
        margin: 0 0 0 10rem;
    }
}

@media(max-width: 900px) {
    .section-github {
        height: 4rem;
    }
}

/* --------------------------------------- */
/* ----- Footer ----- */
/* --------------------------------------- */

.footer {
    text-align: center;
}

/* --------------------------------------- */
/* ----- Scrollbar ----- */
/* --------------------------------------- */

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(40, 42, 54);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(68, 71, 90);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(98, 114, 164);
}

.writeup-image {
    width: 100%;
}